$color-white: #FFFFFF;
$color-black: #000000;
$color-purple: #BC9CFF;
$color-blue: #8BA4F9;
$color-sky_blue: #66D2EA;
$color-dark_shade: #1F2041;
$color-green: #6FCF97;
$box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
$color-rgba: rgba(31, 32, 65, 0.05);
$color-rgba2: rgba(0, 0, 0, 0.2);
$color-rgba3: rgba(0, 0, 0, 0.12);
$color-rgba4: rgba(31, 32, 65, 0.25);
$color-rgba5: rgba(31, 32, 65, 0.75);
$color-rgba6: rgba(31, 32, 65, 0.5);

