@import "_variables.scss";
@import "_mixins.scss";
@import "_main.scss";

@import "blocks/header";

/** main **/
.main {
    padding: 70px 0 18px;
    background-image: url(../image/bgi_index.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__form {
        max-width: 380px;
        padding: 40px 30px 30px;
        background: $color-white;
        border: 1px solid $color-rgba3;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px $color-rgba2;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin-bottom: 320px;

        &-inp-wrap {
            margin-bottom: 21px;
            display: flex;
        }

        &-dataStart-wrap {
            margin-right: 20px;
        }

        &-inp {
            padding: 11px 0 8px 15px;
            max-width: 150px;
        }

        &-select {
            padding: 11px 0 8px 15px;
            margin-bottom: 21px;
        }
    }

    &-wrap__title {
        @include font_14;
        text-align: right;
        color: $color-rgba5;
    }
}

/** search room **/
.search-wrap {
    display: grid;
    grid-template-columns: 266px 835px;
    grid-template-areas: 
        "aside main";
    justify-content: space-between;
    padding-top: 30px;
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;

    &__inp {
        padding: 10px 0 10px 15px;
        margin-bottom: 20px;
    }

    &__extra-btn::after {
        content: url(../image/icons/arrow_down.png);
        margin-left: 13px;
    }

    &__text {
        @include font_12;
        color: $color-rgba;
    }

    &__range-description {
        display: flex;
        justify-content: space-between;
    }

    &__checkbox-wrap {
        margin-bottom: 10px;
    }

    &__checkbox {
        background: $color-white;
        border: 1px solid $color-purple;
        box-sizing: border-box;
        border-radius: 4px;
        background: linear-gradient(180deg, $color-purple 0%, $color-blue 100%);
    }
}

.rooms {
    grid-area: main;
    padding-bottom: 70px;

    &__title {
        @include font_24;
        color: $color-dark_shade;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    gap: 12px;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 40px;
}

.card {
    background: $color-white;
    box-shadow: $box-shadow;
    border-radius: 4px;

    &__wrap-img {
        position: relative
    }

    &__img-arrow-left {
        position: absolute;
        color: $color-white;
        top: 50%;
        left: 5%;
    }

    &__img-arrow-right {
        position: absolute;
        color: $color-white;
        top: 50%;
        right: 5%;
    }

    &__img {
        border-radius: 4px 4px 0px 0px;
    }

    &__slider-nav {
        position: absolute;
        top: 85%;
        right: 5%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        &-item {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid $color-white;

            &:not(:last-child) {
                margin-right: 3px;
            }

            &.active {
                background-color: $color-white;
            }
        }
    }

    &__description {
        padding-top: 20px;
        padding-bottom: 10px;
        display: flex;
        margin-left: 20px;

        &-room {
            @include font_14-2;
            color: $color-dark_shade;
            margin-right: 10px;
        }

        &-type {
            @include font_12;
            text-transform: uppercase;
            color: $color-purple;
            margin-right: 25px;
        }

        &-hide {
            display: none;
        }
    }

    &__hr {
        background: $color-rgba;
        height: 1px;
        margin: 0 20px;
    }

    &__review {
        display: flex;
        padding-top: 8px;
        margin-left: 20px;
        padding-bottom: 20px;

        &-stars {
            margin-right: 22px;
        }

        &-count {
            text-align: right;
        }
    }
}

.carouse {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &_page {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $color-dark_shade;
        background:  $color-white;
        width: 40px;
        height: 40px;
    }

    &_one {
        background: linear-gradient(180deg, $color-purple 0%, $color-blue 100%);
        border-radius: 22px;
        color: $color-white;
    }
    
    &-arrow_right {
        background: linear-gradient(180deg, $color-green 0%, $color-sky_blue 100%);
        border-radius: 22px;
    }

    &_arrow-icon {
        display: block;
        padding: 11px 11px;
    }

    &_description {
        margin-top: 10px;
        @include font_14;
        color: $color-rgba5;
        display: flex;
        justify-content: center;
    }
}


/** room details **/
.room-details {

    &__image {
        background-image:
            url(../image/roomDetails/bgi.png), 
            url(../image/roomDetails/bgi2.png),
            url(../image/roomDetails/bgi3.png);
        background-position:center left, right top, right bottom;
        background-repeat:no-repeat, no-repeat, no-repeat;
        max-width: 1442px;
        margin: 0 auto;
        height: fit-content;
    }

    &__content {
        display: flex;
        padding-top: 70px;
    }
}


.container__room-info {
    max-width: 711px;
}

.room-statistics {
    display: flex;

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__header {
        @include font_19;
    }

    &__wrap {
        position: relative;
        padding: 23px 0 23px 58px;
    }

    &__title {
        @include font_14;
        font-weight: bold;
    }

    &__text {
        @include font_14;

        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &__diagram {
        margin-left: auto;
    }
}

.comfort, .convenience, .cosiness {
    position: relative;
}

.comfort::before {
    content: url(../image/roomDetails/comfort.png);
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: -58px;
} 
.convenience::before {
    content: url(../image/roomDetails/convenience.png);
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: -58px;
}
.cosiness::before {
    content: url(../image/roomDetails/cosiness.png);
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: -58px;
}


.room-reserve {
    max-width: 380px;
    padding: 40px 30px;
    background: $color-white;
    border: 1px solid $color-rgba3;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px $color-rgba2;
    border-radius: 4px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.reserve-order {
    display: flex;
    justify-content: space-between;
}
.reserve-order:not(:last-child) {
    margin-bottom: 10px;
}
.reserve-order > p, .reserve-order > span {
    @include font_14;
    color: $color-rgba5;
} 

.service-fee__btn, .additional-fee__btn {
    width: 20px;
    height: 20px;
    @include font_12;
    color: $color-rgba4;
    box-sizing: border-box;
    border: 1px solid $color-rgba4;
    border-radius: 50%;
    margin: 0 auto 0 5px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px;
}
.total > span {
    @include font_19;
    color: $color-dark_shade;
}


.reviev-guests {
    padding-bottom: 7px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include font_19;
        color: $color-dark_shade;
    }

    &__count {
        @include font_14-3;
        color: $color-rgba6;
    }
}

.guest {
    padding: 23px 0 23px 58px;
    position: relative;

    &__name {
        @include font_14;
        font-weight: bold;
        margin-bottom: 5px;
        color: $color-rgba5;
        position: relative;

        &-1::before {
            content: url(../image/roomDetails/review/image1.png);
            position: absolute;
            top: 10px;
            left: -20px;
        }

        &-2::before {
            content: url(../image/roomDetails/review/image2.png);
            position: absolute;
            top: 10px;
            left: -20px;
        }
    }

    &__day-ago {
        @include font_14;
        color: $color-rgba5;
    }

    &__review {
        @include font_14;
        margin-top: 10px;
        color: $color-rgba5;
    }

    &__favorite {
        position: absolute;
        width: 40px;
        height: 20px;
        top: 85px;
        left: 0;
        border-radius: 10px;
        background: $color-white;
        border: 1px solid $color-purple;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &-img {
            margin: 0 auto;
        }

        &-count {
            @include font_10;
            text-align: center;
            color: $color-purple;
            margin: 0 auto;
        }
    }
}

.room-regulations {
    display: flex;

    &__wrap:first-child {
        padding-left: 24px;
    }

    &__wrap:not(:last-child) {
        margin-right: 98px;
    }

    &__regulations {
        max-width: 243px;
    }

    &__cancel {
        max-width: 341px;
    }

    &__title {
        @include font_19;
        color: $color-dark_shade;
        margin-bottom: 20px;
    }

    &__text {
        @include font_14;
        color: $color-rgba5;
        
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__list {
        position: relative;

        &::before {
            content: url(../image/roomDetails/icons/Ellipse.png);
            margin-right: 10px;
            position: absolute;
            top: 0;
            left: -20px;
        }
    }
}


/** registration **/
.registration {
    background-image: url(../image/registration/bgi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 380px;
        margin: 0 auto;
        padding: 40px 30px 30px;
        background: $color-white;
        border: 1px solid $color-rgba3;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px $color-rgba2;
        border-radius: 4px;
    }

    &__inp {
        padding: 13px 0 13px 15px;
        text-align: start;
        margin-bottom: 10px;
    }

    &__radio-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__radio-inp {
        background: $color-white;
        border: 1px solid $color-rgba4;
        box-sizing: border-box;
        border-radius: 10px;
        background: linear-gradient(180deg, $color-purple 0%, $color-blue 100%);
        border-radius: 10px;
        margin-right: 14px;
    }

    &__radio-label {
        @include font_14;
        color: $color-rgba5;
    }

    &__radio-label:not(:last-child) {
        margin-right: 20px;
    }

    &__label {
        margin-top: 24px;
    }

    &__bottom-wrap {
        display: flex;
        justify-content:space-between;
        margin-top: 30px;
    }

    &__span {
        @include font_14-2;
        display: flex;
        align-items: center;
        text-align: center;
        color: $color-black;
    }

    &__enter {
        padding: 14px 26px;
    }
}

/* Стилизация checkbox */
.reg-lab {
    margin: 10px 0 24px;
    @include font_14;
    color: $color-rgba5;
}
.reg-inp {
    display: none;
}
.reg-inp+.reg-lab,
.reg-inpp+.reg-lab::before,
.reg-inp+.reg-lab::after {
	-webkit-transition: all .2s;
	transition: all .2s;
}
.reg-lab {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}
.reg-lab::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 12px;
	height: 12px;
	background: $color-rgba4;
	border-radius: 50%;
}
.reg-inp:checked+.reg-lab::after {
	left: 24px;
	background-color: $color-white;
}
#checkbox+.reg-lab {
    background-color: $color-white;
    border: 1px solid $color-rgba4;
}
#checkbox:checked+.reg-lab {
    background: linear-gradient(180deg, $color-purple 0%, $color-blue 100%); 
}

/** sign in **/
.sign {
    background-image: url(../image/registration/bgi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 172px 0;

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 380px;
        margin: 0 auto;
        padding: 40px 30px 30px;
        background: $color-white;
        border: 1px solid $color-rgba2;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px $color-rgba3;
        border-radius: 4px;
    }

    &__inp {
        padding: 13px 0 13px 15px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 20px;
        }
    }

    &__bottom-wrap {
        display: flex;
        justify-content:space-between;
        margin-top: 30px;
    }

    &__span {
        @include font_14-2;
        display: flex;
        align-items: center;
        text-align: center;
        color: $color-black;
    }

    &__enter {
        padding: 14px 26px;
    }
}

@import "blocks/footer";