meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="referrer" content="no-referrer")
meta(name="description" content="Сайт по поиску отелей")
meta(name="keywords" content="отель, отдых, забронировать")
link(rel="shortcut icon" href="../../images/favicon.png" type="image/x-icon")
link(rel="stylesheet", href="style.css")
script(src="buindle.js")