block variables

doctype html
html(lang="ru-RU")
    include _head
        title = pageTitle
    body 
        include _header

        content 
            block content 
        
        include _footer