@mixin font_10 {
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 12px;
}

@mixin font_12 {
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
}
@mixin font_12-2 {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
}

@mixin font_14 {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
}

@mixin font_14-2 {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
}

@mixin font_14-3 {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 14px;
}

@mixin font_18 {
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
}

@mixin font_19 {
   font-style: normal;
   font-weight: bold;
   font-size: 19px;
   line-height: 23px;
}

@mixin font_24 {
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
}