footer.footer
   .container
      .footer-main
         div
            a.header__logo(href='index.html') 
               img(src="../src/images/logo.png", alt="logo")
            p.footer-main__text
               | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
         ul.footer-main__nav
            h3.footer-main__heading навигация
            li.footer-main__item.text О нас
            li.footer-main__item.text Новости
            li.footer-main__item.text Служба поддержки
            li.footer-main__item.text Услуги
         ul.footer-main__nav
            h3.footer-main__heading о нас
            li.footer-main__item.text О сервисе
            li.footer-main__item.text Наша команда
            li.footer-main__item.text Вакансии
            li.footer-main__item.text Инвесторы
         ul.footer-main__nav
            h3.footer-main__heading Служба поддержки
            li.footer-main__item.text Соглашения
            li.footer-main__item.text Сообщества
            li.footer-main__item.text Связь с нами
         .footer-main__subs
            h3.footer-main__heading Подписка
            p.footer-main__describe-text Получайте специальные предложения и новости сервиса
            .footer-main__inp-wrap
               input.footer-main__inp(type='email' placeholder='Email' required='')
               button.footer-main__btn 
                  img(src='./src/images/icons/arrow_forward_v.png' alt='img')
      .footer-bottom
         p.footer-bottom__text Copyright © 2018 Toxin отель. Все права защищены.
         ul.footer-bottom__social-network
            li.footer-bottom__social-network-item
               a.footer-bottom__social-network-link(href='')
                  img.social-networ__img(src='./src/images/socialNetwork/twitter.png' alt='twitter')
            li.footer-bottom__social-network-item
               a.footer-bottom__social-network-link(href='')
                  img.social-networ__img(src='./src/images/socialNetwork/facebook.png' alt='facebook')
            li.footer-bottom__social-network-item
               a.footer-bottom__social-network-link(href='')
                  img.social-networ__img(src='./src/images/socialNetwork/instagram.png' alt='instagram')
