.card
   .card__wrap-img
      img.card__img-arrow-left(src='./image/search room/icons/arrow_left.png' alt='left')
      img.card__img(src='./image/search room/image_01.png' alt='room')
      img.card__img-arrow-right(src='./image/search room/icons/arrow_right.png' alt='right')
      .card__slider-nav
         .card__slider-nav-item.active
         .card__slider-nav-item
         .card__slider-nav-item
         .card__slider-nav-item
   .card__description
      p.card__description-room № 888
      p.card__description-type люкс
      span.card__description-price.text 9 990₽ в сутки
   hr.card__hr
   .card__review
      .card__review-stars
         img.card__review-star(src='./image/search room/star.png' alt='star')
         img.card__review-star(src='./image/search room/star.png' alt='star')
         img.card__review-star(src='./image/search room/star.png' alt='star')
         img.card__review-star(src='./image/search room/star.png' alt='star')
         img.card__review-star(src='./image/search room/star.png' alt='star')
      p.card__review-count.text 145 Отзывов
