form.sign__form(action='')
   h2.sign__title.form__title Войти
   input#reg.sign__inp.input_form(type='email' name='' placeholder='Email' required='')
   input#reg.sign__inp.input_form(type='password' name='' placeholder='Пароль' required='')
   button.sign__btn.form__btn
      | войти
      img.main__form-btn-arrow.form__btn-arrow(src='./image/icons/arrow_forward.png' alt='arrow')
   .sign__bottom-wrap
      span.sign__span Нет аккаунта на Toxin?
      a.sign__enter.btn__enter(href='registration.html') создать