header.header
   .container
      .header__wrap
         a.header__logo(href='index.html') 
            img(src="../src/images/logo.png", alt="logo")
         .header__nav
            a.header__nav-link.text(href='https://time100.ru') О нас
            .header__dropdown
               a.header__nav-link.header__dropdown-link.nav-link__arrow.text(href='https://time100.ru') Услуги
               .header__dropdown-content
                  a.header__nav-link.text(href='https://time100.ru') Услуги1
                  a.header__nav-link.text(href='https://time100.ru') Услуги2
                  a.header__nav-link.text(href='https://time100.ru') Услуги3
            a.header__nav-link.text(href='https://time100.ru') Вакансии
            a.header__nav-link.text(href='https://time100.ru') Новости
            .header__dropdown
               a.header__nav-link.header__dropdown-link.nav-link__arrow.text(href='https://time100.ru') Соглашения
               .header__dropdown-content
                  a.header__nav-link.text(href='https://time100.ru') Соглашения1
                  a.header__nav-link.text(href='https://time100.ru') Соглашения2
                  a.header__nav-link.text(href='https://time100.ru') Соглашения3
         div
            a.header__link-enter.btn__enter(href='signIn.html') войти
            a.header__link-registration(href='registration.pug') зарегистрироваться