//- - 
//-     var cardRender = [
//-         {pathRoom: "../../images/searchRoom/image_01.jpg", numberRoom: "888", typeRoom: "люкс", priceRoom: "9 990", reviewCount: "145"},
//-         {pathRoom: "../../images/searchRoom/image_02.jpg", numberRoom: "888", numberRoom: "840", typeRoom: "", priceRoom: "9 990", reviewCount: "65"},
//-         {pathRoom: "../../images/searchRoom/image_03.jpg", numberRoom: "888", numberRoom: "980", typeRoom: "люкс", priceRoom: "8 500", reviewCount: "35"},
//-         {pathRoom: "../../images/searchRoom/image_04.jpg", numberRoom: "856", typeRoom: "", priceRoom: "7 300", reviewCount: "19"},
//-         {pathRoom: "../../images/searchRoom/image_05.jpg", numberRoom: "740", typeRoom: "", priceRoom: "6 000", reviewCount: "44"},
//-         {pathRoom: "../../images/searchRoom/image_06.jpg", numberRoom: "982", typeRoom: "", priceRoom: "5 800", reviewCount: "56"},
//-         {pathRoom: "../../images/searchRoom/image_07.jpg", numberRoom: "678", typeRoom: "", priceRoom: "5 500", reviewCount: "45"},
//-         {pathRoom: "../../images/searchRoom/image_08.jpg", numberRoom: "450", typeRoom: "", priceRoom: "5 300", reviewCount: "39"},
//-         {pathRoom: "../../images/searchRoom/image_09.jpg", numberRoom: "350", typeRoom: "", priceRoom: "5 000", reviewCount: "77"},
//-         {pathRoom: "../../images/searchRoom/image_10.jpg", numberRoom: "666", typeRoom: "", priceRoom: "5 000", reviewCount: "25"},
//-         {pathRoom: "../../images/searchRoom/image_11.jpg", numberRoom: "444", typeRoom: "", priceRoom: "5 000", reviewCount: "15"},
//-         {pathRoom: "../../images/searchRoom/image_12.jpg", numberRoom: "352", typeRoom: "", priceRoom: "5 000", reviewCount: "55"}
//-     ];


