main.room-details
  .room-details__image
  .container
    .room-details__content
      .container__room-info
        .room-statistics
          .room-statistics__info
            h3.room-statistics__header Сведения о номере
            .room-statistics__wrap
              h3.room-statistics__title.comfort Комфорт
              span.room-statistics__text Шумопоглощающие стены
            hr.room-statistics__line
            .room-statistics__wrap
              h3.room-statistics__title.convenience Удобство
              span.room-statistics__text Окно в каждой из спален
            hr.room-statistics__line
            .room-statistics__wrap
              h3.room-statistics__title.cosiness Уют
              span.room-statistics__text Номер оснащён каминомн
          .room-statistics__diagram
            h3 Впечатления от номера
            #donut_single.diagram(style="width: 120px; height:120px;")
            .diagram-legend
        .reviev-guests
          .reviev-guests__header
            h3.reviev-guests__title Отзывы посетителей номера
            span.reviev-guests__count 2 отзыва
          .reviev-guests__guest
            .guest
              h3.guest__name-1 Мурад Сарафанов
              span.guest__day-ago 5 дней назад
              p.guest__review
                | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
              .guest__favorite
                img.guest__favorite-img(src="./image/roomDetails/review/favorite.png" alt="icon")
                span.guest__favorite-count 12
          .reviev-guests__guest
            .guest
              h3.guest__name-2 Патрисия Стёклышкова
              span.guest__day-ago Неделю назад
              p.guest__review
                | Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
              .guest__favorite
                img.guest__favorite-img(src="./image/roomDetails/review/favorite.png" alt="icon")
                span.guest__favorite-count 2
        .room-regulations
          .room-regulations__wrap.room-regulations__regulations
            h3.room-regulations__title Правила
            ul
              li.room-regulations__text.room-regulations__list Нельзя с питомцами
              li.room-regulations__text.room-regulations__list Без вечеринок и мероприятий
              li.room-regulations__text.room-regulations__list
                | Время прибытия — после 13:00,
                | а выезд до 12:00
          .room-regulations__wrap.room-regulations__cancel
            h3.room-regulations__title Отмена
            p.room-regulations__text
              | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .room-reserve
        .card__description
          p.card__description-room
            b № 888
          p.card__description-type люкс
          span.card__description-price 9 990₽ в сутки
        .main__form-inp-wrap
          .main__form-dataStart-wrap
            label.main__form-lable.input_title(for="dataStart") прибытие
            input#dataStart.main__form-inp.input_form(type="date" name="")
          div
            label.main__form-lable.input_title(for="dataEnd") выезд
            input#dataEnd.main__form-inp.input_form(type="date" name="")
        label.main__form-lable.input_title(for="guests") гости
        select#guests.main__form-select.input_form(name="")
          option(value="") Сколько гостей
          option(value="") 1
          option(value="") 2
          option(value="") 3
          option(value="") 4
        .cost.reserve-order
          span.cost__change 9 990₽ х 4 суток
          span.cost__price 39 960₽
        .service-fee.reserve-order
          p.service-fee__text Сбор за услуги: скидка 2 179₽
          button.service-fee__btn i
          span.service-fee__price 0₽
        .additional-fee.reserve-order
          p.additional-fee__text Сбор за дополнительные услуги
          button.additional-fee__btn i
          span.additional-fee__price 300₽
        .total
          span.total__text Итого
          span.total__price 38 081₽
        button.form__btn
          | забронировать
          img.form__btn-arrow(src="./image/icons/arrow_forward.png" alt="arrow")
