main.sign
    .container
        form.sign__form(action="")
            h2.sign__title.form__title Войти
            input#reg.sign__inp.input_form(type="email" name="" placeholder="Email" required)
            input#reg.sign__inp.input_form(type="password" name="" placeholder="Пароль" required)
            button.sign__btn.btn__with-filling
                | войти
                img.sign__form-btn_arrow.btn__with-filling_arrow(src=require("../../images/icons/arrow_forward.png") alt="arrow")
            .sign__bottom-wrap
                span.sign__span Нет аккаунта на Toxin?
                a.sign__enter.btn__without-filling(href="registration.html") создать