main.registration
    .container
        form.registration__form(action="")
            h2.registration__title.form__title Регистрация аккаунта
            input.registration__inp.input_form(type="text" name="" id="" placeholder="Имя" required)
            input.registration__inp.input_form(type="text" name="" id="" placeholder="Фамилия" required)
            .registration__radio-wrap
                input#men.registration__radio-inp(type="radio" name="sex" value="Мужчина")
                label.registration__radio-label(for="men") Мужчина
                input#wooman.registration__radio-inp(type="radio" name="sex" value="Женщина")
                label.registration__radio-label(for="wooman") Женщина
            label.registration__label.input_title(for="dateOfbirthday") дата рождения
            input#dateOfbirthday.registration__inp.input_form(type="text" name="" placeholder="ДД.ММ.ГГГГ" required)
            label.registration__label.input_title(for="reg") данные для входа в сервис
            input#reg.registration__inp.input_form(type="email" name="" placeholder="Email" required)
            input#reg.registration__inp.input_form(type="password" name="" placeholder="Пароль" required)
            input#checkbox.reg-inp(type="checkbox" name="")
            label.reg-lab(for="checkbox") Получать спецпредложения
            button.registration__btn.btn__with-filling(type="button")
                | зарегистрироваться
                img.registration__form-btn_arrow.btn__with-filling_arrow(src=require("../../images/icons/arrow_forward.png") alt="arrow")
            .registration__bottom-wrap
                span.registration__span Уже есть аккаунт на Toxin
                a.registration__enter.btn__without-filling(href="signIn.html") войти
