/** footer **/
.footer {
    

    &-main {
        display: flex;
        justify-content: space-between;
        padding-top: 113px;
        padding-bottom: 100px;

        &__text {
            @include font_14;
            color: rgba(31, 32, 65, 0.75);
            max-width: 260px;
            margin-top: 20px;
            margin-right: 40px;
        }

        &__nav {
            margin-right: 50px;
        }

        &__subs {
            max-width: 260px;
        }

        &__heading {
            @include font_12;
            text-transform: uppercase;
            color: $color-dark_shade;
            margin-bottom: 21px;
        }

        &__item {
            @include font_14-2;
            color: rgba(31, 32, 65, 0.5);

            &:not(last-child) {
                margin-bottom: 20px;
            }
        }

        &__inp {
            background: $color-white;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            @include font_14;
            color: rgba(31, 32, 65, 0.25);
            padding: 12px 0 8px 15px;
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__text {
            @include font_14-2;
            color: rgba(31, 32, 65, 0.75);
        }

        &__social-network {
            display: flex;
            padding: 23px 0;

            &-item:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}