include pug/libs/_libs

doctype html
html(lang='en')
   include pug/_head
   title Regisrtation 
   body
      include pug/components/_header
      main.registration 
         .container 
            include pug/components/_formRegistration
      include pug/components/_footer 